<div class="skills">
  <div class="skill">
    <div class="skill-name">C</div>
    <div class="skill-bar">
      <div class="skill-per" per="50"></div>
    </div>
    <div class="skill">
      <div class="skill-name">Python</div>
      <div class="skill-bar">
        <div class="skill-per" per="70"></div>
      </div>
    </div>
    <div class="skill">
      <div class="skill-name">JavaScript</div>
      <div class="skill-bar">
        <div class="skill-per" per="40"></div>
      </div>
    </div>
      <div class="skill">
    <div class="skill-name">Wordpress</div>
    <div class="skill-bar">
      <div class="skill-per" per="69"></div>
    </div>
    </div>
    <div class="skill">
    <div class="skill-name">SQL</div>
    <div class="skill-bar">
      <div class="skill-per" per="70"></div>
    </div>
    </div>
    <div class="skill">
    <div class="skill-name">NLP-Machine learning</div>
    <div class="skill-bar">
      <div class="skill-per" per="30"></div>
    </div>
    </div>


  </div>
</div>
